:root{
    --primary-blue-color: #00afef;
    --light-grey-color: #bdbfc1;
    --medium-grey-color: #96989a;
    --dark-grey-color: #6e7072;
}
::selection{
    background-color: var(--primary-blue-color);
}
::-webkit-scrollbar {
    width: 16px;
} 

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.92);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background: #039ed6;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-header{
    background-color: rgba(0, 0, 0, 0.92);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header .fa-bars{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-grey-color);
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.main-header .main-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
    margin-right: 14px;
}
.main-list li a{
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main-list li a::after{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main-list .fa-circle-xmark{
    display: none;
}
.main-list li a:hover{
    color: var(--primary-blue-color);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main-list li a:hover::after{
  bottom: -3px;
  opacity: 1;
  background-color: var(--primary-blue-color);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
h1{
    text-align: center;
    text-transform: uppercase;
}
main{
    background-color: rgba(0, 0, 0, 0.92);
    min-height: 100%;
    box-shadow: 0 0 18px 0.2px black;
    border: none;
    outline: none;
    border-radius: 7px;
    width: calc(100% / 1.1);
    margin: 15px auto;
    padding: 12px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    transition: 122ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
main .box{
    background-color: var(--primary-blue-color);
    width: 350px;
    min-height: 100%;
    height: 550px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin: 0 auto;
    flex-direction: column;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.features{
    color: rgb(255, 217, 0);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.box ul{
    list-style: none;
    font-size: 19.22px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    justify-content: space-around;
    flex-direction: column;
}
.box button{
    width: 177px;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.92);
    color: white;
}
main .box:hover{
    box-shadow: 0 0 7px 0.4px var(--dark-grey-color);
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateY(-5px);
}
button a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.paiement-info{
    color: #39FF14;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    padding-bottom: 10px;
    animation: animate 0.5s infinite forwards;
    transition: 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
button:active{
    scale: 0.92;
}
@keyframes animate {
    0%{
        scale: 0.86;
        transition: 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    100%{
        scale: 1;
        transition: 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
}
@media only screen and (max-width: 634px){
    .main-header .main-list{
        background-color: rgba(0, 0, 0, 0.92);
        position: absolute;
        top: -15px;
        left: 150%;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 100%;
        align-items: center;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .main-list.active{
        left: -20px;
        z-index: 9999;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .main-list .fa-circle-xmark{
        font-size: 25px;
        display: block;
        position: absolute;
        top: 2.5vh;
        left: 6.5vw;
        color: var(--light-grey-color);
        cursor: pointer;
    }
    .main-header .fa-bars{
        display: flex;
    }
}